

<footer class="bg-dark mt-auto text-white-50" style="height: 150;">
    <div class="container" id="contact">
        <div class="py-4 center">
            <span>
                <p>Web Developer: 
                    <span class="text-white">Daniel Silva</span>, e-mail: 
                    <a href="mailto: danielmjs609@gmail.com" class="fa-cover">danielmjs609@gmail.com</a>.
                </p>
                <a href="https://www.linkedin.com/in/danielmjsilva777/">
                    <fa-icon [icon]="faLinkedin" size=2x class="mt-4 fa-cover "></fa-icon>
                </a>
                <a href="https://github.com/DanielMJSilva">
                    <fa-icon [icon]="faGithub" size=2x class="m-4 fa-cover"></fa-icon>
                </a>
          </span>
        </div>
    </div>
</footer>