<div id="projects" class="backdground-img">
<div class="container-fluid p-2 p-md-4">
    <h2 class="pb-2 border-white border-bottom text-white">Projects</h2>
    <br>
    <div class="row mb-2">
        <div class="col-md-6">
        <div class="mr-auto ml-auto mb-4 row g-0 border-proj rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative bg-proj">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2"><span class="badge bg-warning text-dark mr-1">JavaScrip </span><span class="badge bg-warning text-dark mr-1">EJS </span> <span class="badge bg-warning text-dark mr-1">MongoDB </span> <span class="badge bg-warning text-dark mr-1">Express </span> <span class="badge bg-warning text-dark mr-1">Node.JS</span></strong>
                <h3 class="mb-0">Portfolio + Auth</h3>
                <div class="mb-1 text-muted">Sep 21</div>
                <p class="card-text mb-auto">Portfolio with secure section to display list of contacts. Authentication using passport.js</p>
                <span><a href="https://github.com/DanielMJSilva/COMP229-Assignment01"><fa-icon class="git m-4" [icon]="faGithub"></fa-icon></a> <a href="https://comp229-assign2-danielmachado.herokuapp.com/home"><fa-icon class="git" [icon]="faGlobe"></fa-icon></a></span>
            </div>
            <div class="col-auto p-1 d-none d-lg-block" style="width: 320px" >
            <!-- <svg class="bd-placeholder-img" width="200" height="250" src="../../../assets/images/Potfolio-images/portfolio-auth.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            
            <div class="container-fade">
                <a href="../../../assets/images/Potfolio-images/portfolio-auth.png">
                <img  class="image rounded mx-auto d-block" src="../../../assets/images/Potfolio-images/portfolio-auth.png" alt="" style="object-fit: cover; width: 300px; height: 250px;">
           
                <div class="middle">
                  <div class="text">Full Image</div>
                </div>
            </a>
            </div>
        </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="mr-auto ml-auto mb-4 row g-0 rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative bg-proj">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2"><span  class="badge bg-warning text-dark mr-1">Java </span><span class="badge bg-warning text-dark mr-1">Android</span></strong>
            <h3 class="mb-0">Stock Info + SMS</h3>
            <div class="mb-1 text-muted">Nov 21</div>
            <p class="mb-auto">Android App using MVVM architecture that retrieves stocks information from a Room DB and sends it to a phone device/emulator using SMS.</p>
            <a href="https://github.com/DanielMJSilva/COMP304_teste2"><fa-icon class="git m-4" [icon]="faGithub"></fa-icon></a>
            </div>
                <div class="col-auto p-1 d-none d-lg-block" style="width: 320px">
                    <div class="container-fade">
                        <a href="../../../assets/images/Potfolio-images/StockInfo-SMS.png">
                        <img  class="image rounded mx-auto d-block" src="../../../assets/images/Potfolio-images/StockInfo-SMS.png" alt="" style="object-fit: cover; width: auto; height: 250px;">
                       
                        <div class="middle">
                            <div class="text">Full Image</div>
                        </div>
                    </a>
                    </div>
                </div>
           
        </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
        <div class="mr-auto ml-auto mb-4 row g-0 rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative bg-proj">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2"><span  class="badge bg-warning text-dark mr-1">Java </span><span class="badge bg-warning text-dark mr-1">Android</span></strong>
            <h3 class="mb-0">Restaurant Search</h3>
            <div class="mb-1 text-muted">Nov 21</div>
            <p class="card-text mb-auto">Android app that allows users to locate various restaurants in the city using Google Maps Service</p>
            <a href="https://github.com/DanielMJSilva/COMP304_Lab5"><fa-icon class="git m-4" [icon]="faGithub"></fa-icon></a>
            </div>
            <div class="col-auto p-1 d-none d-lg-block" style="width: 320px">
            <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            
                <div class="container-fade">
                    <a href="../../../assets/images/Potfolio-images/Restaurant-search.png">
                    <img  class="image rounded mx-auto d-block" src="../../../assets/images/Potfolio-images/Restaurant-search.png" alt="" style="object-fit: cover; width: auto; height: 250px;">   
                      
                    <div class="middle">
                        <div class="text">Full Image</div>
                    </div>
                </a> 
                </div>
         
            </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="mr-auto ml-auto mb-4 row g-0 rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative bg-proj">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2"><span  class="badge bg-warning text-dark mr-1">Java </span><span class="badge bg-warning text-dark mr-1">Android</span></strong>
                <h3 class="mb-0">Patient Manager</h3>
                    <div class="mb-1 text-muted">Dec 21</div>
                <p class="mb-auto">Android application using Room library and MVVM pattern that allowfa-spin nurses to keep track of various tests performed on patients.</p>
                <span><a href="https://github.com/DanielMJSilva/COMP304_lab4"><fa-icon class="git m-4" [icon]="faGithub"></fa-icon></a></span>
            </div>
            <div class="col-auto p-1 d-none d-lg-block" style="width: 320px">
           <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
           
                <div class="container-fade">
                    <a href="../../../assets/images/Potfolio-images/Patient-manager.png">
                    <img  class="image rounded mx-auto d-block" src="../../../assets/images/Potfolio-images/Patient-manager.png" alt="" style="object-fit: cover; width: auto; height: 250px;">
                   
                    <div class="middle">
                        <div class="text">Full Image</div>
                    </div>
                </a>
                </div>
      
            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="mr-auto ml-auto mb-4 row g-0 rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative bg-proj">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2"><span  class="badge bg-warning text-dark mr-1">Java </span><span class="badge bg-warning text-dark mr-1">Android</span></strong>
                    <h3 class="mb-0">Lease or Rent</h3>
                    <div class="mb-1 text-muted"> Oct 21</div>
                    <p class="card-text mb-auto">Android application that allows clists to choose homes and display all selected with address and price.</p>
                    <span><a href=""><fa-icon class="git m-4" [icon]="faGithub"></fa-icon></a> </span>
                </div>
                <div class="col-auto p-1 d-none d-lg-block" style="width: 320px">
                    
                    <div class="container-fade">
                        <a href="../../../assets/images/Potfolio-images/Patient-manager.png">
                        <img  class="image rounded mx-auto d-block" src="../../../assets/images/Potfolio-images/Patient-manager.png" alt="" style="object-fit: cover; width: auto; height: 250px;">
                       
                        <div class="middle">
                          <div class="text">Full Image</div>
                        </div>
                    </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
        <div class="mr-auto ml-auto mb-4 row g-0 rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative bg-proj">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2"><span class="badge bg-warning text-dark mr-1">TypeScript </span><span class="badge bg-warning text-dark mr-1">Angular </span> <span class="badge bg-warning text-dark mr-1">Express </span> <span class="badge bg-warning text-dark mr-1">Node.JS</span></strong>
            <h3 class="mb-0">Reactive Form</h3>
            <div class="mb-1 text-muted">Jan 22</div>
            <p class="mb-auto">Angular project using Form Builder, Simple, Multiples, Custom and Cross field Validation, and Dynamic Form Control</p>
            <a href="https://github.com/DanielMJSilva/reactive_form"><fa-icon class="git m-4" [icon]="faGithub"></fa-icon></a>
            </div>
            <div class="col-auto p-1 d-none d-lg-block" style="width: 320px">
                
                <div class="container-fade">
                    <a href="../../../assets/images/Potfolio-images/registration-form.png">
                    <img  class="image rounded mx-auto d-block " src="../../../assets/images/Potfolio-images/registration-form.png" alt="" style="object-fit: fit; object-position: 80% 100%; width: 300px; height: 250px;">
                   
                    <div class="middle">
                      <div class="text">Full Image</div>
                    </div>
                </a>
                </div>
          
            </div>
        </div>
        </div>
    </div>
</div>
</div>



