<div id="projects" class="backdground-img">
    <div class="content">
<div class="container-fluid p-4 p-md-5">
    <h2 class="pb-2 border-dark border-bottom">Projects</h2>
    <br>
    <div class="row mb-2">
        <div class="col-md-6">
        <div class="mr-auto ml-auto mb-4 row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative" style="background-color: rgba(220, 220, 220, 0.777);">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2"><span class="text-warning">JavaScrip </span><span class="text-info">EJS </span> <span class="text-success">MongoDB </span> <span class="text-primary">Express </span> <span>Node.JS</span></strong>
                <h3 class="mb-0">Portfolio + Authentication</h3>
                <div class="mb-1 text-muted">Sep 21</div>
                <p class="card-text mb-auto">Portfolio with secure section to display list of contacts. Authentication using passport.js</p>
                <span><a href="https://github.com/DanielMJSilva/COMP229-Assignment01"><fa-icon class="git m-4" [icon]="faGithub"></fa-icon></a> <a href="https://comp229-assign2-danielmachado.herokuapp.com/home"><fa-icon class="git" [icon]="faGlobe"></fa-icon></a></span>
            </div>
            <div class="col-auto img-thumbnail d-none d-lg-block" style="width: 320px" >
            <!-- <svg class="bd-placeholder-img" width="200" height="250" src="../../../assets/images/Potfolio-images/portfolio-auth.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img  class="rounded mx-auto d-block" src="../../../assets/images/Potfolio-images/portfolio-auth.png" alt="" style="object-fit: cover; width: 300px; height: 250px;">
            </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="mr-auto ml-auto mb-4 row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative" style="background-color: rgba(220, 220, 220, 0.777);">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2"><span  style="color: rgba(255, 166, 0, 0.678);">JAVA </span><span style="color: rgb(11, 175, 11);">Android</span></strong>
            <h3 class="mb-0">Stock Info + SMS</h3>
            <div class="mb-1 text-muted">Nov 21</div>
            <p class="mb-auto">Android App using MVVM architecture that retrieves stocks information from a Room DB and sends it to a phone device/emulator using SMS.</p>
            <a href="https://github.com/DanielMJSilva/COMP304_teste2"><fa-icon class="git m-4" [icon]="faGithub"></fa-icon></a>
            </div>
            <div class="col-auto img-thumbnail d-none d-lg-block" style="width: 320px">
            <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img  class="rounded mx-auto d-block" src="../../../assets/images/Potfolio-images/StockInfo-SMS.png" alt="" style="object-fit: cover; width: auto; height: 250px;">
            </div>
        </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
        <div class="mr-auto ml-auto mb-4 row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative" style="background-color: rgba(220, 220, 220, 0.777);">
            <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2"><span  style="color: rgba(255, 166, 0, 0.678);">JAVA </span><span style="color: rgb(11, 175, 11);">Android</span></strong>
            <h3 class="mb-0">Restaurant Search</h3>
            <div class="mb-1 text-muted">Nov 21</div>
            <p class="card-text mb-auto">Android app that allows users to locate various restaurants in the city using Google Maps Service</p>
            <a href="https://github.com/DanielMJSilva/COMP304_Lab5"><fa-icon class="git m-4" [icon]="faGithub"></fa-icon></a>
            </div>
            <div class="col-auto img-thumbnail d-none d-lg-block" style="width: 320px">
            <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
            <img  class="rounded mx-auto d-block" src="../../../assets/images/Potfolio-images/Restaurant-search.png" alt="" style="object-fit: cover; width: auto; height: 250px;">
            </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="mr-auto ml-auto mb-4 row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative" style="background-color: rgba(220, 220, 220, 0.777);">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2"><span  style="color: rgba(255, 166, 0, 0.678);">JAVA </span><span style="color: rgb(11, 175, 11);">Android</span></strong>
                <h3 class="mb-0">Patient Manager</h3>
                    <div class="mb-1 text-muted">Dec 21</div>
                <p class="mb-auto">Android application using Room library and MVVM pattern that allowfa-spin nurses to keep track of various tests performed on patients.</p>
                <span><a href="https://github.com/DanielMJSilva/COMP304_lab4"><fa-icon class="git m-4" [icon]="faGithub"></fa-icon></a> <a href=""><fa-icon class="git" [icon]="faGlobe"></fa-icon></a></span>
            </div>
            <div class="col-auto img-thumbnail d-none d-lg-block" style="width: 320px">
           <!-- <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> -->
           <img  class="rounded mx-auto d-block" src="../../../assets/images/Potfolio-images/Patient-manager.png" alt="" style="object-fit: cover; width: auto; height: 250px;">

            </div>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="mr-auto ml-auto mb-4 row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative" style="background-color: rgba(220, 220, 220, 0.777);">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2"><span  style="color: rgba(255, 166, 0, 0.678);">JAVA </span><span style="color: rgb(11, 175, 11);">Android</span></strong>
                    <h3 class="mb-0">Lease or Rent</h3>
                    <div class="mb-1 text-muted"> Oct 21</div>
                    <p class="card-text mb-auto">Android application that allows clists to choose homes and display all selected with address and price.</p>
                    <span><a href=""><fa-icon class="git m-4" [icon]="faGithub"></fa-icon></a> </span>
                </div>
                <div class="col-auto img-thumbnail d-none d-lg-block" style="width: 320px">
                <svg class="rounded mx-auto d-block" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                </div>
            </div>
        </div>
        <div class="col-md-6">
        <div class="mr-auto ml-auto mb-4 row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative" style="background-color: rgba(220, 220, 220, 0.777);">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2"><span class="text-primary">TypeScript </span><span class="text-danger">Angular </span> <span class="text-primary">Express </span> <span>Node.JS</span></strong>
            <h3 class="mb-0">Reactive Form + Validation</h3>
            <div class="mb-1 text-muted">Jan 22</div>
            <p class="mb-auto">Angular project using Form Builder, Simple, Multiples, Custom and Cross field Validation, and Dynamic Form Control</p>
            <a href="https://github.com/DanielMJSilva/reactive_form"><fa-icon class="git m-4" [icon]="faGithub"></fa-icon></a>
            </div>
            <div class="col-auto img-thumbnail d-none d-lg-block" style="width: 320px">
            <svg class="rounded mx-auto d-block" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            </div>
        </div>
        </div>
    </div>
</div>
</div>
</div>



