.git {
    color: gray;
    font-size: 30px;
}

.git:hover {
    color: blue;
    font-size: 30px;
}

/* Background image */

.backdground-img {
    background-image: url('../../assets/images/px_by_Gre3g.png');
    background-repeat: repeat;
    height: 100vh;
    width: 100%;
    filter:url('../../assets/images/px_by_Gre3g.png');
   
  }
  