<div style="background-color: rgb(177, 177, 177);" id="skills">
    <div class="container px-4 py-5">
        <h2 class="pb-2 border-secondary border-bottom">Skills</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div class="col d-flex align-items-start">
                <fa-icon class="bi text-warning flex-shrink-0 me-3" size="3x" [icon]="faJs"></fa-icon>
                <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href=""/></svg> -->
                <div>
                  <h4 class="fw-bold mb-0 mt-2">JavaScript</h4>
                  <p></p>
                </div>
              </div>
          <div class="col d-flex align-items-start">
            <fa-icon class="bi flex-shrink-0 me-3" size="3x" style="color: rgba(255, 166, 0, 0.678);" [icon]="faJava"></fa-icon>
            <div>
              <h4 class="fw-bold mb-0 mt-2">Java</h4>
              <p></p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <fa-icon class="bi text-success flex-shrink-0 me-3" size="3x" [icon]="faCuttlefish"></fa-icon>
            <div>
              <h4 class="fw-bold mb-0 mt-2">C#</h4>
              <p></p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <img src="../../../assets/images/mongodb.png" width="60px" alt="MongoDB">
            <div>
              <h4 class="fw-bold mb-0 mt-2">MondoDB</h4>
              <p></p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <fa-icon class="bi text-danger flex-shrink-0 me-3" size="3x" [icon]="faAngular"></fa-icon>
            <div>
              <h4 class="fw-bold mb-0 mt-2">Angular</h4>
              <p></p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <fa-icon class="bi flex-shrink-0 me-3" style="color: darkgreen;" size="3x" [icon]="faNode"></fa-icon>
            <div>
              <h4 class="fw-bold mb-0 mt-2">Node.JS</h4>
              <p></p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <fa-icon class="bi text-dark flex-shrink-0 me-3" size="3x" [icon]="faDatabase"></fa-icon>
            <div>
              <h4 class="fw-bold mb-0 mt-2">PL/SQL Oracle </h4>
              <p></p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <img src="../../../assets/images/express.png" width="50px" alt="Express">
            <div>
              <h4 class="fw-bold mb-0 m-2">Express</h4>
              <p></p>
            </div>
            
          </div>
          <div class="col d-flex align-items-start">
            <img class="m-1" src="../../../assets/images/typescript.png" width="45px" alt="TypeScript">
            <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href=""/></svg> -->
            <div>
              <h4 class="fw-bold mb-0 mt-2">TypeScript</h4>
              <p>.</p>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <fa-icon class="bi text-success flex-shrink-0 me-3" size="3x" [icon]="faAndroid"></fa-icon>
            <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href=""/></svg> -->
            <div>
              <h4 class="fw-bold mb-0 mt-2">Android</h4>
              <p></p>
            </div>
          </div><div class="col d-flex align-items-start">
            <fa-icon class="bi text-primary flex-shrink-0 me-3" size="3x" [icon]="faCss3"></fa-icon>
            <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href=""/></svg> -->
            <div>
              <h4 class="fw-bold mb-0 mt-2">CSS</h4>
              <p></p>
            </div>
          </div><div class="col d-flex align-items-start">
            <fa-icon class="bi text-primary flex-shrink-0 me-3" size="3x" [icon]="faBootstrap"></fa-icon>
            <!-- <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href=""/></svg> -->
            <div>
              <h4 class="fw-bold mb-0 mt-2">Bootstrap</h4>
              <p></p>
            </div>
          </div>
    </div>
</div>
